:root {
  --color--border-Project: #023859;
}
.sectionTwo {
  padding: 70px;
}
.tituleProjects {
  margin: 0;
  padding: 8px 8px 8px 0;
}

.containerProject {
  border: 2px solid var(--color--border-Project);
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 60px;
}
.containerScreenshot {
  display: flex;
}
.containerLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 15px;
}
.imgProject1 {
  width: 95%;
  border-radius: 0 30px 30px 0;
  border: 2px solid var(--color--border-Project);
  border-left: none;
}

.iconchain {
  width: 30px;
}
.iconGithub {
  font-size: 30px;
  color: black;
}
.iconchain:hover,
.iconGithub:hover {
  scale: 1.3;
}
