:root {
  --color--border-Footer: #023859;
  --color--Text-Footer: #011c40;
  --font-Family-Footer: "Fira Code", monospace;
}
* {
  caret-color: transparent;
}
.containerfooter {
  border: 2px solid var(--color--border-Footer);
  border-bottom: none;
  border-left: none;
  border-right: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px 10px;
  gap: 15px;
  color: var(--color--Text-Footer);
}
.containerPhoto {
  display: flex;
  width: fit-content;
}
.containerIconsRed {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.linkFooter {
  display: flex;
  align-items: center;
  gap: 8px;
}
.photoVictor {
  width: 260px;
  height: 260px;
  border: 2px solid var(--color--border-Footer);
  background-color: var(--color--border-Footer);
  border-radius: 100%;
}
.linkFooter {
  text-decoration: none;
  list-style: none;
  color: var(--color--Text-Footer);
}
.iconsFooter {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.iconsFooterGithub {
  cursor: pointer;
  font-size: 45px;
  color: rgba(0, 0, 0, 0.904);
}
.iconLinkedin {
  margin-left: 20px;
}
.iconInstagram {
  margin-left: 20px;
}
.linkFooter:hover {
  cursor: pointer;
  scale: 1.2;
}

.containerDownload {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttonDownload {
  color: var(--color--Text-Footer);
  width: fit-content;
  height: 30px;
  font-family: var(--font-Family-Footer);
  display: flex;
  align-items: center;
  border: 2px solid var(--color--border-Footer);
  border-top: none;
  border-left: none;
  background-color: transparent;
  border-radius: 8px;
  padding: 15px;
  gap: 8px;
  cursor: pointer;
}
.buttonDownload:hover {
  scale: 1.1;
}

/*QUERY FOR MOBILE AND TABLET:*/
@media screen and (max-width: 433px) {
  .phrase {
    text-align: center;
  }
  .containerPhoto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .containerIconsRed {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 10px;
    gap: 15px;
  }
  .linkFooter {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .iconLinkedin {
    margin-left: 0;
  }
  .iconInstagram {
    margin-left: 0;
  }
}
