:root {
  --color--Text: #011c40;
  --color--border: #023859;
  --font-Family: "Fira Code", monospace;
}

/*Styles to General targets*/
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-Family);
}
li,
a {
  text-decoration: none;
  list-style: none;
}
.tituleNav,
.listNav,
.tituleDescription {
  margin: 0;
  padding: 0;
}
.tituleNav {
  font-family: var(--font-Family);
  color: var(--color--Text);
}
.containerHeader {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 15px;
}
.nav {
  border: 2px solid var(--color--border);
  padding: 9px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  min-width: 280px;
  height: auto;
}

.listNav {
  display: flex;
  gap: 8px;
}

.itemsNav {
  font-family: var(--font-Family);
  color: var(--color--Text);
  display: flex;
  align-items: center;
  height: 30px;
  gap: 3px;
}

.iconArrowUp {
  transform: rotate(30deg);
  border: 1px solid var(--color--Text);
  border-radius: 100%;
  padding: 3px;
}
.containerDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: auto;
  margin-top: auto;
  gap: 10px;
  text-align: center;
}
.iconsHeader {
  text-decoration: none;
  color: var(--color--Text);
}
.tituleDescription {
  font-size: 50px;
  color: var(--color--Text);
}
.containerIconsContact {
  color: var(--color--Text);
  display: flex;
  gap: 15px;
}
.iconsContacts {
  font-size: 25px;
  cursor: pointer;
}
.iconsContacts:hover {
  scale: 1.3;
}

/*QUERY FOR MOBILE AND TABLET:*/
@media screen and (max-width: 748px) {
  .nav {
    justify-content: center;
    padding: 9px 0;
    gap: 9px;
  }
  .listNav {
    gap: 7px;
  }
  .iconArrowUp {
    display: none;
  }
}
